
header {
    background-color: black;
}

main {
    background-color: #34495E;
    color: white;

}
.styling {
    background-color: #34495E;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
  }

.title {
    color: #5F9EA0;
}

.padding {
    padding: 3%;
}

#playerName {
    color: rgb(118, 190, 210);
    font-size: 1.5em;
    padding: 0.5em;
  }