
header {
    background-color: black;
}

main {
    background-color: #34495E;
    color: white;

}

.title {
    color: #943126 ;
}

.padding {
    padding: 3%;
}

#playerName {
    color: rgb(118, 190, 210);
    font-size: 1.5em;
    padding: 0.5em;
  }