main {
    background-color: #34495E;
    color: white;

}

.title {
    color: #943126 ;
}

.padding {
    padding: 3%;
}
.event {
   color: white;
  }

  .contributor-event {
    color: rgb(165, 220, 235);
  }
  
  .system-event {
    color: rgb(221, 148, 40);
  }
  .player-name {
    color: rgb(118, 190, 210);

  }
  
  #player-messages {
    color: white;
    padding-top: 0.25em;
    opacity: 0.7;
  }